
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  color: #333;
} */










/* 
.App{
  width: 70%;
  margin: auto;
}





@media (max-width: 768px) {
  .App{
    width: 90%;
    margin: auto;
  }
} */
